/* Store this code in 'style.css' file inside the 'static' folder*/

.header{
	padding: 5px 120px;
	width: 150px;
	height: 70px;
	background-color: navajowhite;
}

.border{
	padding: 30px 50px;
	width: 400px;
	height: 500px;
	border: 1px solid tan;
	border-radius: 0px;
	background-color: silver;
}

.btn {
	display: inline-block;
	padding: 15px 25px;
	font-size: 24px;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	outline: none;
	color: #fff;
	background-color: #4CAF50;
	border: none;
	border-radius: 15px;
	box-shadow: 0 9px #999;
}

.btn:hover {background-color: #3e8e41}

.btn:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.textbox{
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
	border: 3px solid red;
	-webkit-transition: 0.5s;
	transition: 0.5s;
	outline: none;
	border: 3px solid #555;
	
}
	
::placeholder {
	color: black;
	opacity: 1;
	font-style: oblique;
	font-weight: bold;
}

.word{
	color: #FFFFFF;
	font-style: oblique;
	font-weight: bold;
}

.bottom{
	color:rebeccapurple;
	font-style: oblique;
	font-weight: bold;
}

