<!doctype html>


<head>
<title>Test</title> 
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>   
<body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
    
<div class="container"> 
    
    <div class ="text-center pt-5">
    <h1>Genarating GenSounds</h1>
    </div>
      
    <div class="text-center pt-5">
        <div class="col">

        <button class="btn btn-danger" > <a href="/my-link1/"> Sound 1</a></button>
        <button class="btn btn-danger" > <a href="/my-link2/">Sound 2</a></button>
        <button class="btn btn-danger" > <a href='/my-link3/'> Sound 3</a></button>
        <button class="btn btn-danger" > <a href="/my-link4/" > Sound 4</a></button>
        <button class="btn btn-danger" > <a href="/my-link5/"> Sound 5</a></button>
        
         </div>
       </div>
<div class="text-center pt-5">
    <div class="col">
        <button class="btn btn-danger" > <a href="/my-link6/">Sound 6</a></button>
        <button class="btn btn-danger" > <a href="/my-link7/"> Sound 7</a></button>
        <button class="btn btn-danger" > <a href="/my-link8/"> Sound 8</a></button>
        <button class="btn btn-danger" > <a href="/my-link9/"> Sound 9</a></button>
        <button class="btn btn-danger" > <a href="/my-link10/"> Sound 10</a></button>
     </div>
    </div> 
    </div>
   
    

</div>

        
       
    </body>